# Chapter 7
## Structured APIs - Aggregations

### Imports

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

### Instantiate a Spark Session

In [2]:
spark = SparkSession.builder.appName("Chapter6").getOrCreate()

### Files

In [3]:
retail_data = "./Spark-The-Definitive-Guide/data/retail-data/all/*.csv"

### Load data into DataFrames

In [4]:
df = spark.read.format("csv")\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .load(retail_data)\
  .coalesce(5)

df.cache()
df.createOrReplaceTempView("dfTable")

In [5]:
df.select(count("StockCode")).show() # 541909

+----------------+
|count(StockCode)|
+----------------+
|          541909|
+----------------+

In [6]:
df.select(countDistinct("StockCode")).show() # 4070

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

In [7]:
df.select(approx_count_distinct("StockCode", 0.1)).show() # 3364

+--------------------------------+
|approx_count_distinct(StockCode)|
+--------------------------------+
|                            3364|
+--------------------------------+

In [8]:
df.select(first("StockCode"), last("StockCode")).show()

+-----------------------+----------------------+
|first(StockCode, false)|last(StockCode, false)|
+-----------------------+----------------------+
|                 85123A|                 22138|
+-----------------------+----------------------+

In [9]:
df.select(min("Quantity"), max("Quantity")).show()

+-------------+-------------+
|min(Quantity)|max(Quantity)|
+-------------+-------------+
|       -80995|        80995|
+-------------+-------------+

In [10]:
df.select(sum("Quantity")).show() # 5176450

+-------------+
|sum(Quantity)|
+-------------+
|      5176450|
+-------------+

In [11]:
df.select(sumDistinct("Quantity")).show() # 29310

+----------------------+
|sum(DISTINCT Quantity)|
+----------------------+
|                 29310|
+----------------------+

In [12]:
df.select(
    count("Quantity").alias("total_transactions"),
    sum("Quantity").alias("total_purchases"),
    avg("Quantity").alias("avg_purchases"),
    expr("mean(Quantity)").alias("mean_purchases"))\
  .selectExpr(
    "total_purchases/total_transactions",
    "avg_purchases",
    "mean_purchases").show()

+--------------------------------------+----------------+----------------+
|(total_purchases / total_transactions)|   avg_purchases|  mean_purchases|
+--------------------------------------+----------------+----------------+
|                      9.55224954743324|9.55224954743324|9.55224954743324|
+--------------------------------------+----------------+----------------+

In [13]:
df.select(var_pop("Quantity"), var_samp("Quantity"),
  stddev_pop("Quantity"), stddev_samp("Quantity")).show()

+------------------+------------------+--------------------+---------------------+
| var_pop(Quantity)|var_samp(Quantity)|stddev_pop(Quantity)|stddev_samp(Quantity)|
+------------------+------------------+--------------------+---------------------+
|47559.303646609056|47559.391409298754|  218.08095663447796|   218.08115785023418|
+------------------+------------------+--------------------+---------------------+

In [14]:
df.select(skewness("Quantity"), kurtosis("Quantity")).show()

+-------------------+------------------+
| skewness(Quantity)|kurtosis(Quantity)|
+-------------------+------------------+
|-0.2640755761052562|119768.05495536952|
+-------------------+------------------+

In [15]:
df.select(corr("InvoiceNo", "Quantity"), covar_samp("InvoiceNo", "Quantity"),
    covar_pop("InvoiceNo", "Quantity")).show()

+-------------------------+-------------------------------+------------------------------+
|corr(InvoiceNo, Quantity)|covar_samp(InvoiceNo, Quantity)|covar_pop(InvoiceNo, Quantity)|
+-------------------------+-------------------------------+------------------------------+
|     4.912186085635685E-4|             1052.7280543902734|            1052.7260778741693|
+-------------------------+-------------------------------+------------------------------+

In [16]:
df.agg(collect_set("Country"), collect_list("Country")).show()

+--------------------+---------------------+
|collect_set(Country)|collect_list(Country)|
+--------------------+---------------------+
|[Portugal, Italy,...| [United Kingdom, ...|
+--------------------+---------------------+

In [17]:
df.groupBy("InvoiceNo").agg(
    count("Quantity").alias("quan"),
    expr("count(Quantity)")).show(5)

+---------+----+---------------+
|InvoiceNo|quan|count(Quantity)|
+---------+----+---------------+
|   536596|   6|              6|
|   536938|  14|             14|
|   537252|   1|              1|
|   537691|  20|             20|
|   538041|   1|              1|
+---------+----+---------------+
only showing top 5 rows

In [18]:
df.groupBy("InvoiceNo").agg(expr("avg(Quantity)"),expr("stddev_pop(Quantity)"))\
  .show(5)

+---------+------------------+--------------------+
|InvoiceNo|     avg(Quantity)|stddev_pop(Quantity)|
+---------+------------------+--------------------+
|   536596|               1.5|  1.1180339887498947|
|   536938|33.142857142857146|  20.698023172885524|
|   537252|              31.0|                 0.0|
|   537691|              8.15|   5.597097462078001|
|   538041|              30.0|                 0.0|
+---------+------------------+--------------------+
only showing top 5 rows

In [19]:
dfWithDate = df.withColumn("date", to_date(col("InvoiceDate"), "MM/d/yyyy H:mm"))

dfWithDate.createOrReplaceTempView("dfWithDate")

In [20]:
windowSpec = Window\
  .partitionBy("CustomerId", "date")\
  .orderBy(desc("Quantity"))\
  .rowsBetween(Window.unboundedPreceding, Window.currentRow)

maxPurchaseQuantity = max(col("Quantity")).over(windowSpec)
purchaseDenseRank = dense_rank().over(windowSpec)
purchaseRank = rank().over(windowSpec)

dfWithDate.where("CustomerId IS NOT NULL").orderBy("CustomerId")\
  .select(
    col("CustomerId"),
    col("date"),
    col("Quantity"),
    purchaseRank.alias("quantityRank"),
    purchaseDenseRank.alias("quantityDenseRank"),
    maxPurchaseQuantity.alias("maxPurchaseQuantity")).show(10)

+----------+----------+--------+------------+-----------------+-------------------+
|CustomerId|      date|Quantity|quantityRank|quantityDenseRank|maxPurchaseQuantity|
+----------+----------+--------+------------+-----------------+-------------------+
|     12346|2011-01-18|   74215|           1|                1|              74215|
|     12346|2011-01-18|  -74215|           2|                2|              74215|
|     12347|2010-12-07|      36|           1|                1|                 36|
|     12347|2010-12-07|      30|           2|                2|                 36|
|     12347|2010-12-07|      24|           3|                3|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
|     12347|2010-12-07|      12|           4|                4|                 36|
+----------+----------+--------+------------+-----------------+-------------------+
only showing top 10 rows

In [21]:
dfNoNull = dfWithDate.drop()
dfNoNull.createOrReplaceTempView("dfNoNull")

In [22]:
rolledUpDF = dfNoNull.rollup("Date", "Country").agg(sum("Quantity"))\
  .selectExpr("Date", "Country", "`sum(Quantity)` as total_quantity")\
  .orderBy("Date")
rolledUpDF.show(10)

+----------+--------------+--------------+
|      Date|       Country|total_quantity|
+----------+--------------+--------------+
|      null|          null|       5176450|
|2010-12-01|          EIRE|           243|
|2010-12-01|        France|           449|
|2010-12-01|United Kingdom|         23949|
|2010-12-01|       Germany|           117|
|2010-12-01|          null|         26814|
|2010-12-01|        Norway|          1852|
|2010-12-01|     Australia|           107|
|2010-12-01|   Netherlands|            97|
|2010-12-02|          null|         21023|
+----------+--------------+--------------+
only showing top 10 rows

In [23]:
dfNoNull.cube("Date", "Country").agg(sum(col("Quantity")))\
  .select("Date", "Country", "sum(Quantity)").orderBy("Date").show(10)

+----+--------------------+-------------+
|Date|             Country|sum(Quantity)|
+----+--------------------+-------------+
|null|              Cyprus|         6317|
|null|           Singapore|         5234|
|null|United Arab Emirates|          982|
|null|     Channel Islands|         9479|
|null|             Lebanon|          386|
|null|             Denmark|         8188|
|null|                 USA|         1034|
|null|               Spain|        26824|
|null|              Norway|        19247|
|null|      Czech Republic|          592|
+----+--------------------+-------------+
only showing top 10 rows

In [24]:
pivoted = dfWithDate.groupBy("date").pivot("Country").sum()
pivoted.show(1, vertical=True)

-RECORD 0------------------------------------------------------------------
 date                                                 | 2011-10-07
 Australia_sum(CAST(Quantity AS BIGINT))              | null
 Australia_sum(UnitPrice)                             | null
 Australia_sum(CAST(CustomerID AS BIGINT))            | null
 Austria_sum(CAST(Quantity AS BIGINT))                | null
 Austria_sum(UnitPrice)                               | null
 Austria_sum(CAST(CustomerID AS BIGINT))              | null
 Bahrain_sum(CAST(Quantity AS BIGINT))                | null
 Bahrain_sum(UnitPrice)                               | null
 Bahrain_sum(CAST(CustomerID AS BIGINT))              | null
 Belgium_sum(CAST(Quantity AS BIGINT))                | null
 Belgium_sum(UnitPrice)                               | null
 Belgium_sum(CAST(CustomerID AS BIGINT))              | null
 Brazil_sum(CAST(Quantity AS BIGINT))                 | null
 Brazil_sum(UnitPrice)                                | null
 Brazil_sum(CAST(CustomerID AS BIGINT))               | null
 Canada_sum(CAST(Quantity AS BIGINT))                 | null
 Canada_sum(UnitPrice)                                | null
 Canada_sum(CAST(CustomerID AS BIGINT))               | null
 Channel Islands_sum(CAST(Quantity AS BIGINT))        | null
 Channel Islands_sum(UnitPrice)                       | null
 Channel Islands_sum(CAST(CustomerID AS BIGINT))      | null
 Cyprus_sum(CAST(Quantity AS BIGINT))                 | 345
 Cyprus_sum(UnitPrice)                                | 136.51000000000002
 Cyprus_sum(CAST(CustomerID AS BIGINT))               | 360180
 Czech Republic_sum(CAST(Quantity AS BIGINT))         | 325
 Czech Republic_sum(UnitPrice)                        | 49.38
 Czech Republic_sum(CAST(CustomerID AS BIGINT))       | 127810
 Denmark_sum(CAST(Quantity AS BIGINT))                | 637
 Denmark_sum(UnitPrice)                               | 27.69
 Denmark_sum(CAST(CustomerID AS BIGINT))              | 74364
 EIRE_sum(CAST(Quantity AS BIGINT))                   | 448
 EIRE_sum(UnitPrice)                                  | 225.09999999999997
 EIRE_sum(CAST(CustomerID AS BIGINT))                 | 760461
 European Community_sum(CAST(Quantity AS BIGINT))     | null
 European Community_sum(UnitPrice)                    | null
 European Community_sum(CAST(CustomerID AS BIGINT))   | null
 Finland_sum(CAST(Quantity AS BIGINT))                | null
 Finland_sum(UnitPrice)                               | null
 Finland_sum(CAST(CustomerID AS BIGINT))              | null
 France_sum(CAST(Quantity AS BIGINT))                 | 527
 France_sum(UnitPrice)                                | 88.43999999999998
 France_sum(CAST(CustomerID AS BIGINT))               | 483504
 Germany_sum(CAST(Quantity AS BIGINT))                | 2053
 Germany_sum(UnitPrice)                               | 327.79999999999995
 Germany_sum(CAST(CustomerID AS BIGINT))              | 1150698
 Greece_sum(CAST(Quantity AS BIGINT))                 | null
 Greece_sum(UnitPrice)                                | null
 Greece_sum(CAST(CustomerID AS BIGINT))               | null
 Hong Kong_sum(CAST(Quantity AS BIGINT))              | null
 Hong Kong_sum(UnitPrice)                             | null
 Hong Kong_sum(CAST(CustomerID AS BIGINT))            | null
 Iceland_sum(CAST(Quantity AS BIGINT))                | null
 Iceland_sum(UnitPrice)                               | null
 Iceland_sum(CAST(CustomerID AS BIGINT))              | null
 Israel_sum(CAST(Quantity AS BIGINT))                 | null
 Israel_sum(UnitPrice)                                | null
 Israel_sum(CAST(CustomerID AS BIGINT))               | null
 Italy_sum(CAST(Quantity AS BIGINT))                  | null
 Italy_sum(UnitPrice)                                 | null
 Italy_sum(CAST(CustomerID AS BIGINT))                | null
 Japan_sum(CAST(Quantity AS BIGINT))                  | null
 Japan_sum(UnitPrice)                                 | null
 Japan_sum(CAST(CustomerID AS BIGINT))                | null
 Lebanon_sum(CAST(Quantity AS BIGINT))                | null
 Lebanon_sum(UnitPrice)                               | null
 Lebanon_sum(CAST(CustomerID AS BIGINT))              | null
 Lithuania_sum(CAST(Quantity AS BIGINT))              | null
 Lithuania_sum(UnitPrice)                             | null
 Lithuania_sum(CAST(CustomerID AS BIGINT))            | null
 Malta_sum(CAST(Quantity AS BIGINT))                  | null
 Malta_sum(UnitPrice)                                 | null
 Malta_sum(CAST(CustomerID AS BIGINT))                | null
 Netherlands_sum(CAST(Quantity AS BIGINT))            | 212
 Netherlands_sum(UnitPrice)                           | 25.35
 Netherlands_sum(CAST(CustomerID AS BIGINT))          | 140558
 Norway_sum(CAST(Quantity AS BIGINT))                 | null
 Norway_sum(UnitPrice)                                | null
 Norway_sum(CAST(CustomerID AS BIGINT))               | null
 Poland_sum(CAST(Quantity AS BIGINT))                 | null
 Poland_sum(UnitPrice)                                | null
 Poland_sum(CAST(CustomerID AS BIGINT))               | null
 Portugal_sum(CAST(Quantity AS BIGINT))               | null
 Portugal_sum(UnitPrice)                              | null
 Portugal_sum(CAST(CustomerID AS BIGINT))             | null
 RSA_sum(CAST(Quantity AS BIGINT))                    | null
 RSA_sum(UnitPrice)                                   | null
 RSA_sum(CAST(CustomerID AS BIGINT))                  | null
 Saudi Arabia_sum(CAST(Quantity AS BIGINT))           | null
 Saudi Arabia_sum(UnitPrice)                          | null
 Saudi Arabia_sum(CAST(CustomerID AS BIGINT))         | null
 Singapore_sum(CAST(Quantity AS BIGINT))              | null
 Singapore_sum(UnitPrice)                             | null
 Singapore_sum(CAST(CustomerID AS BIGINT))            | null
 Spain_sum(CAST(Quantity AS BIGINT))                  | 227
 Spain_sum(UnitPrice)                                 | 123.08000000000001
 Spain_sum(CAST(CustomerID AS BIGINT))                | 275880
 Sweden_sum(CAST(Quantity AS BIGINT))                 | null
 Sweden_sum(UnitPrice)                                | null
 Sweden_sum(CAST(CustomerID AS BIGINT))               | null
 Switzerland_sum(CAST(Quantity AS BIGINT))            | null
 Switzerland_sum(UnitPrice)                           | null
 Switzerland_sum(CAST(CustomerID AS BIGINT))          | null
 USA_sum(CAST(Quantity AS BIGINT))                    | null
 USA_sum(UnitPrice)                                   | null
 USA_sum(CAST(CustomerID AS BIGINT))                  | null
 United Arab Emirates_sum(CAST(Quantity AS BIGINT))   | null
 United Arab Emirates_sum(UnitPrice)                  | null
 United Arab Emirates_sum(CAST(CustomerID AS BIGINT)) | null
 United Kingdom_sum(CAST(Quantity AS BIGINT))         | 25657
 United Kingdom_sum(UnitPrice)                        | 12425.409999999976
 United Kingdom_sum(CAST(CustomerID AS BIGINT))       | 27566889
 Unspecified_sum(CAST(Quantity AS BIGINT))            | null
 Unspecified_sum(UnitPrice)                           | null
 Unspecified_sum(CAST(CustomerID AS BIGINT))          | null
only showing top 1 row

In [25]:
pivoted.where("date > '2011-12-05'")\
  .select("date", "`USA_sum(CAST(Quantity AS BIGINT))`")\
  .show()

+----------+---------------------------------+
|      date|USA_sum(CAST(Quantity AS BIGINT))|
+----------+---------------------------------+
|2011-12-06|                             null|
|2011-12-09|                             null|
|2011-12-08|                             -196|
|2011-12-07|                             null|
+----------+---------------------------------+